@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Modulo de Mantenimiento</h2>
        <p>
           
        </p>
       <button class="btn btn-danger" onclick="location.href=('@Url.Action("Matenimiento","Home")')">Acceder&raquo;</button>
    </div>
    <div class="col-md-4">
        <h2>Modulo de Procesos</h2>
        <p>

        </p>
        <button class="btn btn-danger" onclick="location.href=('@Url.Action("Procesos","Home")')">Acceder&raquo;</button>
    </div>
    <div class="col-md-4">
        <h2>Modulo de Informes</h2>
        <p>

        </p>
        <button class="btn btn-danger" onclick="location.href=('@Url.Action("Informes","Home")')">Acceder&raquo;</button>
    </div>
</div>