
@{
    ViewBag.Title = "Matenimiento";
}

<h2>Matenimiento</h2>

<div>
    <h2>Agregar Empleado</h2>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Create","Empleados")')">Acceder &raquo;</button>
</div>
<div>
    <h2>Agregar Departamento</h2>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Create","Departamentos")')">Acceder &raquo;</button>
</div>
<div>
    <h2>Agregar Cargo</h2>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Create","Cargos")')">Acceder &raquo;</button>
</div>
